.container{
	width:80%;
	margin:auto;
	overflow: hidden;
}


#main-header{
	background-color: #F4BC1C;
	height: 80px;
	margin: 0;
}


.logo {
	float: left;
	width: 40px;
	height: 40px;
	overflow: hidden;
	border-radius: 50%;
	padding: 20px;
	
	
}


#main-header h1{
		font-family: Verdana;
		font-size: 60 px;
		top: 50%;
		-ms-transform: translateY(50%);
		transform: translateY(50%);
		
}

#navbar{
	background-color: #1261A0;
	color:white;
}

#navbar ul{
	padding:0;
	list-style: none;
}

#navbar li{
	display: inline;
}

#navbar a{
	color: white;
	text-decoration: none;
	font-size: 16px;
	padding: 20px;
	font-family: Verdana;
}

#navbar a:hover{
	background-color: #F4BC1C;
}


/*links appear on top of each other if browser size reduced*/

@media screen and (max-width: 500px){
	#navbar a{
		float:none;
		display: block;
		width: 100%;
		text-align: center;
	}
}

#showcase{
	min-height: 400px;
	background:url('../showcase.jpg') no-repeat 0 -300px;
	background-position: center;
	text-align: center;
	color: white;
}

#showcase h1{
	font-family: Verdana;
	margin-top: 200px;
	font-size: 30px;
	margin-bottom: 10px;
}

