.container{
	width:80%;
	margin:auto;
	overflow: hidden;
}


#main-header{
	background-color: #112D4E;
	height: 80px;
	margin: 0;
}


.logo {
	float: left;
	width: 40px;
	height: 40px;
	overflow: hidden;
	border-radius: 50%;
	padding: 20px;
	
	
}


#main-header h1{
		font-family: Verdana;
		font-size: 60 px;
		color: #F9F7F7;
		top: 50%;
		-ms-transform: translateY(50%);
		transform: translateY(50%);
		
}

/* Navigation Bar */
#navbar{
	background-color: #DBE2EF;
	color:white;
}

#navbar ul{
	padding:0;
	list-style: none;
}

#navbar li{
	display: inline;
}

/*Log Out button*/
#navbar button{
	/*float: right;*/
	background:#DBE2EF;
	color: #112D4E;
	height: 30px;
	border: none;
	font-size: 17px;
}

#navbar a{
	color: #112D4E;
	text-decoration: none;
	font-size: 16px;
	padding: 20px;
	font-family: Verdana;
}

#navbar a:hover{
	background-color: #3F72AF;
	color: white;
}

/*links appear on top of each other if browser size reduced*/

@media screen and (max-width: 600px){
	#navbar a{
		float:none;
		display: block;
		width: 100%;
		text-align: center;
	}
}

/* Showcase Image */
#showcase{
	min-height: 400px;
	background:url('../showcase.jpg') no-repeat 0 -300px;
	background-position: center;
	text-align: center;
	color: white;
}

#showcase h1{
	font-family: Verdana;
	margin-top: 200px;
	font-size: 30px;
	margin-bottom: 10px;
}

#main{
	padding: 10px;
	color: #112d4e;
	font-family: Verdana;
	text-align: center;
	line-height: 1.6em;
}

/*Boxes*/
#boxes{
	margin-top: 20px;
}

#boxes .box{
	text-transform: uppercase;
	color: #112d4e;
	font-family: Verdana;
	font-size: 12px;
	float: left;
	text-align: center;
	width: 50%;
}

/* Makes the pictures a little bigger if hovered over */
#boxes .box:hover{
	transform: scale(1.1);
}

#boxes .box img{
	width: 100px;
}

.box-1{
	background-color: #112D4E;
	color: white;
	border: 3px solid #112D4E;
	padding: 20px;
	font-family: Verdana;
	text-align: center;
}

.box-1 h1{
	text-transform: uppercase;
}

.box-1 h2{
	font-size: 20px;
}

/* Footer */
footer{
	font-family: Verdana;
	padding: 1px;
	margin-top: 20px;
	color: #112D4E;
	font-size: 10px;
	background-color: #dbe2ef;
	text-align: center;
}

/* Students Data */
.students-project-title{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #323232;
    text-transform: uppercase;
    margin: 0;
    padding: 40px 0 0 0;
}

#students-project-list{
    justify-content: center;
}

#project-students-item {
    height: 200px;
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#project-students-item .skill-icon{
    width: 55px;
}

#project-students-item .skill-icon-ux-ui{
    width: 80px;
}

#project-students-item h2{
    padding-top: 10px;
    font-size: 20px;
}